# Linux:
# FIREBASE_SERVICE_ACCOUNT=/home/mario/chaves-firebase/chave-firebase-admin.json

# Windows:
# FIREBASE_SERVICE_ACCOUNT=C:/Users/mario.pereira.sea/Documents/chaves-firebase/almoxarifado-inteligente-6881c-firebase-adminsdk-fbsvc-80776bfd10.json

FIREBASE_SERVICE_ACCOUNT=C:/Users/mario.pereira.sea/Documents/chaves-firebase/almoxarifado-inteligente-6881c-firebase-adminsdk-fbsvc-80776bfd10.json
ADMIN_MATRICULAS=0005376