# Linux:
# FIREBASE_SERVICE_ACCOUNT=/home/mario/chaves-firebase/chave-firebase-admin.json

# Windows:
# FIREBASE_SERVICE_ACCOUNT=C:/Users/Mario/chaves-firebase/chave-firebase-admin.json

FIREBASE_SERVICE_ACCOUNT=/caminho/seguro/fora/do/repositorio/chave-firebase-admin.json
ADMIN_MATRICULAS=0005376
